* 
    body{
       
        background: #1b203d;
        font-family: 'Open Sans', serif;
        text-align: center;
        color: white;
    }

    .layout {
        display: flex;
        width: 35%;            
        gap: 5px;
        background-color: white;
        padding: 90px 20px 90px 20px;
        border-radius: 10px;
        border: 1px solid gray;
        margin-left: auto;
        margin-right: auto;
    }

    .grow1 { flex-grow: 1; }

    .link{
        text-decoration: none;
        color: gray;
        border: 2px solid gray;
        border-radius: 10px;
        padding: 10px;
    }

    .link:hover{ 
        background-color: dodgerblue;
    }
